<%= form_for @drink do |f| %>
	<% if @drink.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

			<ul>
			<% @drink.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :country %><br/>
		<%= f.text_field :country %>
	</p>
	<p>
		<%= f.label :price_in_cents %><br/>
		<%= f.number_field :price_in_cents %>
	</p>
	<p>
		<%= f.radio_button(:option, "wine") %>
		<%= f.label "Wine" %>
		<%= f.radio_button(:option, "beer") %>
		<%= f.label "Beer" %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>